<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Brain {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/data/css/bootstrap.min.css">
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="/static/data/js/bootstrap.min.js"></script>
  </body>
</html>
  
