<style>* {margin: 0; padding:0;}</style>
<pre>
data_treino = [{% for animal in train_animals %}
    ({{ animal.as_array }}, {{ animal.target }}),{% endfor %}
]

data_teste = [{% for animal in test_animals %}
    ({{ animal.nome }}, {{ animal.as_array }}, {{ animal.target }}),{% endfor %}
]
</pre>
