{% extends 'base.html' %}
{% block title %}| Resultados {% endblock %}
{% block content %}
<table class="table table-hover">
  <thead>
    <th>Nome</th>
    <th>Classe</th>
    <th>Resultado</th>
  </thead>
  <tbody>
    {% for nome, classe, resultado in animals %}
    <tr class="{% if classe == resultado %}success{% else %}danger{% endif %}">
      <td>{{ nome }}</td>
      <td>{{ classe }}</td>
      <td>{{ resultado }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
